<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis enim eum aspernatur quisquam exercitationem, modi amet blanditiis placeat mollitia accusantium neque suscipit pariatur quidem ducimus necessitatibus laudantium ut incidunt? Perferendis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio earum ex quam itaque velit culpa consequuntur eius. Suscipit delectus provident, fugiat enim id sapiente quis laudantium, ab blanditiis expedita officiis?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti qui voluptate, asperiores itaque doloribus repellendus minima dolorum velit autem, quibusdam esse omnis temporibus voluptates harum reiciendis quas consequuntur sed iure.</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>